In [22]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
print("\nWORKING WITH SERIES\n")
data=[3,-5,7,8,-2]
obj1=Series(data)
print(obj1)

WORKING WITH SERIES

0    3
1   -5
2    7
3    8
4   -2
dtype: int64

In [21]:
obj2=Series(data,index=['one','three','four','two','five'])
print(obj2)

one      3
three   -5
four     7
two      8
five    -2
dtype: int64

In [12]:
print("\nobj2.values=",obj2.values)
print("\nobj2['three']=",obj2['three'])
print("\nobj2[['three','two']]\n",obj2[['three','two']])
print("\nobj2[:3]\n",obj2[:3])
print("\nobj2[obj2>0]\n",obj2[obj2>0])
print("\n'one' in obj2=",'one' in obj2)
print("'six' in obj2=",'six' in obj2)

obj2.values= [ 3 -5  7  8 -2]

obj2['three']= -5

obj2[['three','two']]
 three   -5
two      8
dtype: int64

obj2[:3]
 one      3
three   -5
four     7
dtype: int64

obj2[obj2>0]
 one     3
four    7
two     8
dtype: int64

'one' in obj2= True
'six' in obj2= False

In [29]:
sdata={'Ktaka':8500,'Kerala':5800,'Bihar':12000}
obj3=Series(sdata)
print("\n",obj3)

 Bihar     12000
Kerala     5800
Ktaka      8500
dtype: int64

In [28]:
states=['Ktaka','Kerala','Bihar','Punjab']
obj3=Series(sdata,states)
print("\n",obj3)

 Ktaka      8500.0
Kerala     5800.0
Bihar     12000.0
Punjab        NaN
dtype: float64

In [27]:
obj3['Punjab']=76000
print("\n",obj3)
obj3.name='Population'
obj3.index.name='State'
print("\n",obj3)

 Language
Kannada       8500.0
Malayalam     5800.0
Hindi        12000.0
Hindi        76000.0
Punjab       76000.0
Name: Population, dtype: float64

 State
Kannada       8500.0
Malayalam     5800.0
Hindi        12000.0
Hindi        76000.0
Punjab       76000.0
Name: Population, dtype: float64

In [26]:
obj3.index=['Kannada','Malayalam','Hindi','Hindi']
obj3.index.name='Language'
print("\n",obj3)
print("Population that speaks hindi=",sum(obj3['Hindi']))

 Language
Kannada       8500.0
Malayalam     5800.0
Hindi        12000.0
Hindi        76000.0
Name: Population, dtype: float64
Population that speaks hindi= 88000.0

In [25]:
obj4=Series(np.arange(10,101,10))
obj5=Series(np.arange(5,51,5))
print("\nobj4[:2]+obj5[:2]\n",obj4[:2]+obj5[:2])

obj4[:2]+obj5[:2]
 0    15
1    30
dtype: int64

In [18]:
print("\nWORKING WITH DATAFRAME\n")
data={'State':['Ktaka','Goa','Delhi','Kerala'],
		'Year':[2001,2001,2002,2003],
		'Population':[1.5,1.2,1.7,1.7]}
frame1=DataFrame(data)
print(frame1)
frame1=DataFrame(data,columns=['State','Year','Population','Debt'],index=['one','two','three','four'])
print("\n",frame1)

WORKING WITH DATAFRAME

   Population   State  Year
0         1.5   Ktaka  2001
1         1.2     Goa  2001
2         1.7   Delhi  2002
3         1.7  Kerala  2003

         State  Year  Population Debt
one     Ktaka  2001         1.5  NaN
two       Goa  2001         1.2  NaN
three   Delhi  2002         1.7  NaN
four   Kerala  2003         1.7  NaN

In [24]:
frame1.to_csv('population.csv',index=False,header=True)
df=pd.read_csv('population.csv')
print("\n",df)

     State  Year  Population  Debt
0   Ktaka  2001         1.5   NaN
1     Goa  2001         1.2   NaN
2   Delhi  2002         1.7   NaN
3  Kerala  2003         1.7   NaN

In [23]:
print(frame1,"\n")
print("\nframe1['State'].values=",frame1['State'].values)
print("\nframe1.Population\n",frame1.Population)

print("\nframe1.ix['two']\n",frame1.ix['two'])
print("\nframe1.iat[1,2]=",frame1.iat[1,2])

        State  Year  Population Debt
one     Ktaka  2001         1.5  NaN
two       Goa  2001         1.2  NaN
three   Delhi  2002         1.7  NaN
four   Kerala  2003         1.7  NaN


frame1['State'].values= ['Ktaka' 'Goa' 'Delhi' 'Kerala']

frame1.Population
 one      1.5
two      1.2
three    1.7
four     1.7
Name: Population, dtype: float64

frame1.ix['two']
 State          Goa
Year          2001
Population     1.2
Debt           NaN
Name: two, dtype: object

frame1.iat[1,2]= 1.2